 @use '../custom' as *;
 @use '../components/mixins' as *;

 .footer {
    padding-top: 1rem;
    background-color: $footer;
 }

 .contact-box {
   position: relative;

   &__icon {

   }

   &__info {

      &--title {

      }

      &--subtitle {
         
      }
   }
 }