@use'../custom' as *;
@use'../components/mixins' as *;

.menu {
    @include gradient;

    li {
        padding: 0 0.7rem;

        a {
            color: $white;
            font-weight: 500;
            font-size: large;
        }
    }
}